img {
    width: 200px;
}
/* PODE SER USADO TAMBÉM SCALE PELOS EIXOS "X" e "Y" 
img.scale {
    transform: scaleY(2);
    OU
    transform: scaleX(2);
} */
img.scale {
    transform: scaleX(2);
}

img.rotate {
    transform: rotate(45deg);
}

img.translate {
    transform: translate(50px, 20px);
}
